.light-theme {
    background-color: #f0f0f0;
    color: #333;

}
.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}
.theme-toggle{
    cursor: pointer;
    display: inline-block;
}
.star-icon, .moon-icon {
    font-size: 24px;
}
.star-icon {
    color: yellow;
}
.moon-icon {
    color: #f0f0f0;
}